#img-container{
    margin-top:20px;
    position:relative;
}

#head-main{
    color:black;
    text-transform: uppercase;
    animation-name:moveInRight;
    animation-duration:5s;
    backface-visibility: hidden; /* prevents shaking */
    position:absolute;
    top:15%;
    left:31%;
    font-family: 'Permanent Marker', 'Dancing Script', cursive;
    font-weight: 800;
}

#head-sub{
    color:#fff;
    text-transform: uppercase;
    animation-name:moveInLeft;
    animation-duration:10s;
    backface-visibility: hidden; /* prevents shaking */
    position:absolute;
    top:90%;
    left:34%;
    font-family: 'Permanent Marker', 'Dancing Script', cursive;
    font-weight: 800;
}

#content-area{
  background-color: rgb(255, 252, 252);
  position:relative;
}

#chatbot{
  position:absolute;
  height:400px;
  width:300px;
  background-color:white;
  left:77%;
  top:65%;
}


  @keyframes moveInLeft{
    0%{
      opacity:0;
      transform:translateX(-400px);
    }
    
    20%{
      opacity:0;
      transform:translateX(-400px);
    }

    100%{
      opacity:1;
      transform:translate(0);
    }
  }

  @keyframes moveInRight{
    0%{
      opacity:0;
      transform:translateX(400px);
    }
    
    100%{
      opacity:1;
      transform:translate(0);
    }
  }


  